html{
  --tile-size: 80px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-row{
  display: flex;
  flex-direction: row;
  width: calc(var(--tile-size) * 8);
}

.t-col{
  display: flex;
  flex-direction: column;
}

.b-tile{
  background-color: burlywood;
  width: var(--tile-size);
  height: var(--tile-size);
}

.w-tile{
  background-color: wheat;
  width: var(--tile-size);
  height: var(--tile-size);
}